.page
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 2rem

.pageTitle
    font-size: 32px
    font-weight: bold
    margin-bottom: 1rem
    text-align: center
    font-weight: bold
    color: white

.searchField
    display: flex
    //padding: 0.5rem 0.5rem
    align-items: center
    padding-left: 2rem
    border-radius: 0.75rem
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px
    background-color: white
    

.input
    border: 0
    outline: 0

.prompts
    margin-top: 2rem
    background: white 
    color: black
    height: 5rem
    display: flex
    align-items: center
    justify-content: center
    width: 40rem
    padding: .75rem
    border-radius: 0.75rem
    

.searchButton
    //border-radius: 0.75rem
    background-color: #1C98EC
    border: 0
    outline: 0
    padding-left: 1.5em
    padding-right: 1rem
    padding-top: .5rem
    padding-bottom: .4rem
    //border-radius-top-right: 0.75rem
    border-top-right-radius: 0.75rem
    border-bottom-right-radius: 0.75rem 
   
.buttonImage 
    padding: 2rem
    