@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap')

html,
body 
  padding: 0
  margin: 0
  font-family: 'Inter', sans-serif
<<<<<<< HEAD
  background-color: #181D27
=======
<<<<<<< HEAD
>>>>>>> c4de1d7 (fix lock conflict)
=======
>>>>>>> 4e3c1de (update signup&login form)
>>>>>>> 8a0ffe9 (fix conflict in package)

a 
  color: inherit
  text-decoration: none

* 
  box-sizing: border-box
  margin: 0
  padding: 0
