// Structure

$base__space-unit: 1.5rem

// Colors
$primary: #1C98EC
$bgLight: #EFF2F1
$bgDark: #2B3344
$alert: #D96E82

// screen sizes 
$screenMobile: 340px
$screenDesktop: 769px

/////////////////MIXINS//////////////////
@mixin flexC 
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

