// Structure

$base__space-unit: 1.5rem

// Colors

$color__Buttons: #1C98EC
$color__Cards: #EFF2F1

// screen sizes 

$screen__mobile: 340px
$screen__desktop: 769px

/////////////////MIXINS//////////////////
@mixin flex-c 
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

