@import 'includes.sass'

////////////////////////////////////////////////////////////////////// MOBILE SIZING //////////////////////////////////////////////////////////////////////
@media screen and (min-width: $screenMobile) 
    .RateResponseBody
        height: 100%
        width: 100%
        display: grid
        grid-template-rows: 1fr 4fr 1fr 1.2fr
        overflow: hidden

    .RateResponseTitleContainer, .RateResponseOuterContainer
        @include flexC
        
    .RateResponseInnerContainer
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-around
        background: $bgLight
        color: black
        width: 90vw
        height: 50Vh
        border-radius: 20px
        padding: 0vw 10vw

        h2, h3
            font-weight: normal

    .RateResponseDeliniator
        border: solid
        width: 60vw

    .RateResponseTagsContainer
        width: 100%

    .RateResponseTagsTitle
        margin-left: 2vw
        margin-bottom: 4vw

    .RateResponseTagContainer
        @include flexC
        background: #C4C4C4
        border-radius: 11px
        padding: 11px            

    .RateResponseTagList
        display: flex
        align-items: center
        justify-content: space-around
        width: 100%

    .RateResponseButtonContainer
        display: flex
        flex-direction: row
        height: 100%
        width: 100%
        align-items: center
        justify-content: space-around
        margin-top: 0.75rem

    .RateResponseResponse
        text-align: center

    .RateResponseCardOuterContainer
        @include flexC
            
    .RateResponseCardInnerContainer
        position: relative
        width: 90vw
        height: 50Vh

    .RateResponseHiddenCardContainer 
        position: absolute

    .RateResponseFeaturedCardContainer
        position: absolute
        z-index: 5

    .RateResponseAnimateCardSlideR
        animation: CardTransisitonR .7s linear
        animation-fill-mode: forwards

    .RateResponseAnimateCardSlideL
        animation: CardTransisitonL .7s linear
        animation-fill-mode: forwards

    @keyframes CardTransisitonR
        0%
            left: 0vw

        100%
            left: 100vw
            
    @keyframes CardTransisitonL
        0%
            left: 0vw

        100%
            left: -100vw

////////////////////////////////////////////////////////////////////// Desktop SIZING //////////////////////////////////////////////////////////////////////
@media screen and (min-width: $screenDesktop) 
    .RateResponseBody
        grid-template-rows: 1fr 3fr 1fr .5fr

    .RateResponseTitleContainer
        width: 60vw

        h1
            font-size: 2.3rem
    
    .RateResponseInnerContainer 
        width: 43vw
        padding: 0vw 5vw

        h2 
            font-size: 2em
        h3 
            font-size: 1.7em

    .RateResponseDeliniator
        width: 30vw
        border-width: .12vw
        background-color: black

    .RateResponseTagsTitle
        margin-bottom: 1vw
        margin-left: 3vw

    .RateResponseTagList
        padding: 0px 1vw

    .RateResponseButtonContainer
        padding: 5vw 4vw 0vw 4vw

    .RateResponseTagContainer
        font-size: 0.6em
        padding: 1vw 1.5vw

    .RateResponseCardInnerContainer
        width: 45vw

    @keyframes CardTransisitonR
        0%
            left: 0vw

        100%
            left: 60vw

    @keyframes CardTransisitonL
        0%
            left: 0vw

        100%
            left: -60vw


        
