@import '@styles/includes.sass'

.contentWrapper 
    background-color: $bgDark
    color: $bgLight
    margin: auto
    width: 60%
    height: 100%
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset
    overflow: auto

.contentWrapper::-webkit-scrollbar
    display: none

@media screen and (max-width: 768px) 
    .contentWrapper 
        width: 100%
        box-shadow: none
        background-color: transparent
        overflow: initial
