.navBar 
    position: fixed
    top: 0
    left: 0
    height: 100%
    background-color: #2B3344

.logo 
    display: flex
    flex-direction: row
    overflow: hidden
    padding: 1.2rem
    

.logoImage
    width: 2rem
    height: 2rem
    margin-right: 1.5rem
    dipslay: flex
    justify-content: center
    
.logoText
    color: white
    font-size: 2rem

.navItems
    display: flex
    flex-direction: column
    overflow: hidden

.navItem
    display: flex
    align-items: center
    padding: 1.2rem
    width: 15rem
    color: white
    margin: 1rem 0
    &:hover 
        color: #1C98EC
        cursor: pointer

.navItemIcon
    width: 2rem
    height: 2rem
    margin-right: 1.5rem
    display: flex
    justify-content: center
    align-items: center

.link 
    font-size: 1rem