@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@200;400;700;800&display=swap')
@import '@styles/includes.sass'

.formLogo 
    display: flex
    align-items: center
    flex-wrap: wrap
    justify-content: center
    align-content: center

.logo 
    width: 100px
    height:100px

.logoText 
    font-family: 'Murecho', sans-serif
    font-size: 3.5rem
    font-weight: 300
    color: $bgLight
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3)

@media screen and (max-width: 800px) 
    .logoText
        font-size: 3rem
        min-width: 90vw
        text-align: center

    .formLogo 
        display: flex
        align-items: center
