@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@200;400;700;800&display=swap')

.formLogo 
    display: flex
    align-items: center
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
    justify-content: center
>>>>>>> b45f122 (fix lock conflict)
    flex-wrap: wrap
>>>>>>> 9d3aaa5 (fix lock conflict)
    justify-content: center
    flex-wrap: wrap
    align-content: center

.logo 
    width: 6rem
    height: 6rem

.logoText 
    font-family: 'Murecho', sans-serif
    font-size: 3.5rem
    font-weight: 300
    color: white

@media screen and (max-width: 850px) 
    .logoText
        font-size: 3.5rem

    .formLogo 
        display: flex
        align-items: center

@media screen and (max-width: 320px) 
    .logoText
        font-size: 2.5rem
<<<<<<< HEAD

=======
<<<<<<< HEAD
>>>>>>> 99baf2a (add validation to form)
=======
=======
    flex-wrap: wrap
    justify-content: center

.logo 
    width: 100px
    height:100px

.logoText 
    font-family: 'Murecho', sans-serif
    font-size: 4rem
    font-weight: 300
    color: white
    

@media screen and (max-width: 800px) 
    .logoText
        font-size: 4.5rem
>>>>>>> c4de1d7 (fix lock conflict)
>>>>>>> b45f122 (fix lock conflict)
>>>>>>> 9d3aaa5 (fix lock conflict)
