.navItem
    display: flex
    align-items: center
    padding: 1.2rem
    width: 15rem
    color: white
    margin: 1rem 0
    font-size: 1rem 
    &:hover 
        color: #1C98EC
        cursor: pointer
    & > * 
        transition: 0.3s

.navItemIcon
    width: 2rem
    height: 2rem
    margin-right: 1.5rem
    display: flex
    justify-content: center
    align-items: center

.isActive 
    color: #1C98EC

    