.background 
    background-image: url("/resources/desktopbg.png")
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    height: 100%
    width: 100%
    z-index: 1
    display: flex

@media screen and (max-width: 800px) 
    .background 
        height: calc(100% + 5rem)
        background-image: url("/resources/mobilebg.png")


    